CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
cmake-build-release
.idea
.vs
examples/mqtt_client/mqtt_client
examples/spdlog/spdlog
examples/recipe/recipe
examples/jsonrpc/jsonrpc
*.so
*.log
*.cbp
*.pem