CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
cmake-build-release
.idea
examples/mqtt_client/mqtt_client
examples/spdlog/spdlog
*.so
*.log
*.cbp